main {
    flex: 1;
    box-sizing: border-box;
    align-content: center;
    width: 100%;
    display: flex;
    align-items: center;
}

.signup-div,
.login-div,
.update {
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

form>h1 {
    text-align: center;
    margin: var(--base-size-desktop-p) 0;
    color: var(--base-color-monochrome-third)
}

form>div,
form+div {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

form>div>button {
    box-sizing: border-box;
    width: 8em;
    height: 2em;
    text-align: center;
    margin: calc(var(--base-size-desktop-p)/2) 0;
    font-size: var(--base-size-h6);
    background-color: var(--base-color-analog-first);
    border-radius: 25px;
    border: none;
    color: var(--base-color-monochrome-forth)
}

input,
button {
    box-shadow: 2px 2px 5px var(--base-color-monochrome-second);
}

form>div>button:hover {
    background-color: var(--base-color-monochrome-forth);
    color: var(--base-color-analog-first);
    cursor: pointer;
}

form+div,
.errors {
    margin: calc(var(--base-size-desktop-p)/2) 0;
}

form+div {
    color: var(--base-color-monochrome-third);
    font-weight: bolder;
}

form+div>div {
    margin: calc(var(--base-size-desktop-p)/4);
}

form+div>div>a {
    color: var(--base-color-monochrome-forth)
}

form+div>div>a:visited {
    color: var(--base-color-complementary-second)
}

form+div>div>a:hover {
    color: var(--base-color-split-complementary-third)
}

.errors {
    box-sizing: border-box;
    color: #D32F2F;
    background-color: #FFEBEE;
    width: 18em;
    border-radius: 10px;
    padding: calc(var(--base-size-desktop-p)/2);
}

.errors>p {
    margin: calc(var(--base-size-desktop-p)/4) 0;
}

.input-container,
.input-container-img {
    position: relative;
    width: 18em;
}

input {
    font-size: var(--base-size-desktop-p);
    border: 1px solid #EFEFEF;
    background-color: #EFEFEF;
    border-radius: 5px;
    box-sizing: border-box;
    width: 18em;
    height: 2.5em;
    padding: 0 var(--base-size-desktop-p);
    margin: calc(var(--base-size-desktop-p)/2) 0;
}

label {
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    left: var(--base-size-desktop-p);
    font-size: var(--base-size-desktop-p);
    color: #524F51;
    transition: 0.3s ease all;
    pointer-events: none;
    padding: 0 5px;
}

input:focus+label,
input:not(:placeholder-shown)+label {
    top: -5%;
    left: 10px;
    font-size: calc(var(--base-size-desktop-p)-4);
    color: var(--base-color-monochrome-third);
    font-weight: bold;
    z-index: 1;
    background-color: #EFEFEF;
    border-radius: 5px;
}

input:focus {
    outline: 2px solid var(--base-color-square-third);
}


@media only screen and (max-width: 768px) {

    .signup-div,
    .login-div {
        width: 100%;
    }

    form>div>button {
        height: 3rem;
    }

    input {
        font-size: var(--base-size-mobile-p);
        width: 18rem;
        height: 3rem;
        padding: 0 var(--base-size-mobile-p);
        margin: calc(var(--base-size-mobile-p)/2) 0;
    }

    input:focus+label,
    input:not(:placeholder-shown)+label {

        font-size: calc(var(--base-size-mobile-p)-4);
    }
}



.input-container-img {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.file-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.file-button {
    background-color: var(--base-color-split-complementary-first);
    color: var(--base-color-split-complementary-third);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-button:hover {
    background-color: var(--base-color-monochrome-second);
    color: var(--base-color-analog-first)
}

.file-name {
    font-size: 0.9rem;
    color: #555;
}

.file-input {
    display: none;
}

.preview-image {
    margin-top: 1rem;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}